<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @pin.image.url(:large), class: "img-rounded img-polaroid" %>
			<p>
			  <%= @pin.image_remote_url %>
			</p>
			<p class="description">
				<%= @pin.description %>
			</p>
			<p class="description">
			  <%= @pin.user.name %>
			</p>
			<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
				<%= link_to 'Back', pins_path %>
			<% end %>
		</div>
	</div>
</div>